<!--menu mobile-->
<div class="d-flex justify-content-between align-items-center py-3 px-4 d-lg-none border-bottom shadow-lg">

    <img src="/img/logo-black-png.png" style="width: 35px;">

    <i onclick="abrirMenuMobile()" id="btn-toggler-abrir" style="z-index: 99; position: relative;" class="fas fa-bars fs-1"></i>
    <button onclick="abrirMenuMobile()" id="btn-toggler-fechar" style="z-index: 99; position: relative; border: none; background-color: transparent;" class="d-none text-danger fw-bold fs-1">X</button>
  
</div>


<div id="content-menu-mobile" class="d-none">

    <button onclick="trocarAbasMobile(this,'1')" class="active-menu-desk btns-abas d-block w-100 py-2 btn-menu-mobile">Informações</button>
    <button onclick="trocarAbasMobile(this,'2')" class="btns-abas d-block w-100 py-2 btn-menu-mobile">Projetos</button>
    <button onclick="trocarAbasMobile(this,'3')" class="btns-abas d-block w-100 py-2 btn-menu-mobile">Visitas</button>

</div>
<!--menu mobile-->






<!--Conteudo principal desktop-->
<div class="w-100 vh-100 row">
     
     <!--menu desk-->
     <div class="d-none d-lg-block col-lg-2 pe-0 ps-0 py-5 text-center h-100 shadow-lg" style="background-image: url('/img/fundo.png');">
               
            <img src="/img/logo.png" class="mb-5 w-50">

            <button onclick="trocarAbas(this,'1')" class="active-menu-desk btns-abas d-block w-100 py-2 btn-menu-desk">Informações</button>
            <button onclick="trocarAbas(this,'2')" class="btns-abas d-block w-100 py-2 btn-menu-desk">Projetos</button>
            <button onclick="trocarAbas(this,'3')" class="btns-abas d-block w-100 py-2 btn-menu-desk">Visitas</button>


            <div class="mt-5 pt-5">
                 <p class="text-white" style="color: #f2f2f26c; font-size: 12px;">Administrador</p>
                 <h6 class="text-white" style="color: #f2f2f26c; margin-top: -15px;">Weslei Casali</h6>
            </div>

            <a href="/sair" style="color: red;" class="mt-5 text-decoration-none d-block">SAIR</a>

     </div>
     <!--menu desk-->




     <!--abas content desk-->
     <div class="col-lg-10 h-100 p-3 p-lg-5" style="overflow-y: auto;" id="content-abas">
        
        <!--Informações-->
        <div class="conteudo-abas" id="conteudo-1">
              <h1 style="color: orangered;" class="mb-5 text-center text-lg-start">Informações</h1>


              {{#if messages.messageOk}}
                  <div class="alert alert-success mb-2" role="alert">{{messages.messageOk}}</div>
              {{/if}}

              {{#if messages.messageErr}}
                  <div class="alert alert-danger mb-2" role="alert">{{messages.messageErr}}</div>
              {{/if}}
         
              <!--conteudo-->
              <div style="background-color: #f2f2f2;" class="rounded p-4">

                  <form action="/atualizarInfos" method="POST">
                      <div>
                          <h6 style="color: orangered;" class="mb-3">REDES SOCIAIS</h6>
                          <div class="row">
                               <div class="col-12 col-lg-4 mb-3">
                                  <label class="text-secondary">Instagram</label>
                                  <input value="{{infos.instagram}}" type="text" name="instagram" required class="form-control">
                                </div>
                                <div class="col-12 col-lg-4 mb-3">
                                  <label class="text-secondary">Linkedin</label>
                                  <input value="{{infos.linkedin}}" type="text" name="linkedin" required class="form-control">
                                </div>
                                <div class="col-12 col-lg-4 mb-3">
                                  <label class="text-secondary">Facebook</label>
                                  <input value="{{infos.facebook}}" type="text" name="facebook" required class="form-control">
                                </div>
                          </div>
                      </div>
                      <div class="mt-4">
                          <h6 style="color: orangered;" class="mb-3">CONTATO</h6>
                          <div class="row">
                               <div class="col-12 col-lg-6 mb-3">
                                  <label class="text-secondary">Whatsapp</label>
                                  <input value="{{infos.wpp}}" id="tel-form" type="tel" maxlength="15" inputmode="tel" name="whatsapp" required class="form-control">
                                </div>
                                <div class="col-12 col-lg-6 mb-3">
                                  <label class="text-secondary">Email</label>
                                  <input value="{{infos.email}}" type="email" name="email" required class="form-control">
                                </div>
                          </div>
                      </div>
                      <div class="mt-4">
                          <h6 style="color: orangered;" class="mb-3">LOCALIZAÇÃO</h6>
                          <div class="row">
                               <div class="col-12 col-lg-6 mb-3">
                                  <label class="text-secondary">Cidade</label>
                                  <input value="{{infos.cidade}}" type="text" name="cidade" required class="form-control">
                                </div>
                                <div class="col-12 col-lg-6 mb-3">
                                  <label class="text-secondary">Estado</label>
                                  <input value="{{infos.estado}}" type="text" name="estado" required class="form-control">
                                </div>
                          </div>
                       </div>

                       <button type="submit" class="mt-4" id="btn-form">SALVAR</button>
                  </form>
                   
              </div>
              <!--conteudo-->
        </div>
        <!--Informações-->





        <!--Projetos-->
        <div class="d-none conteudo-abas" id="conteudo-2">
            <h1 style="color: orangered;" class="mb-5 text-center text-lg-start">Projetos</h1>

            <button type="button" data-bs-toggle="modal" data-bs-target="#modalAddProjeto" class="btn btn-success mb-3">Adicionar +</button>

            <!--conteudo-->
            <div id="content-projetos" style="background-color: #f2f2f2;" class="rounded p-4">
                  
                   <!--header-->
                   <div class="row px-3 mb-4 pb-2 border-bottom border-secondary">
                       <div class="col-3 fw-bold fs-5">Titulo</div>
                       <div class="col-3 text-center fw-bold fs-5">Descrição</div>
                       <div class="col-2 text-center fw-bold fs-5">Link</div>
                       <div class="col-2 text-end fw-bold fs-5">Capa</div>
                   </div>
                   <!--header-->

                   <!--body-->
                   {{#each projetos}}
                   <div class="row px-3 mb-2 bg-dark p-2">
                       <div class="col-3 text-white text-truncate">{{this.titulo}}</div>
                       <div class="col-3 text-center text-white text-truncate">{{this.descricao}}</div>
                       <div onclick="window.location.href='{{this.link}}'" style="cursor: pointer;" class="col-2 text-center text-white text-truncate">{{this.link}}</div>
                       <div class="col-2 text-white d-flex justify-content-end align-items-center"> <div id="container-capa"><img src="/projetos/{{this.imgName}}"></div> </div>
                       <div class="col-2 text-end text-white d-flex justify-content-end align-items-center"> <i onclick="window.location.href='/deletarProjeto/{{this.id}}'" class="fas fa-trash" style="cursor: pointer;"></i> </div>
                   </div>
                    {{/each}}
                   <!--body-->

            </div>
            <!--conteudo-->

        </div>
        <!--Projetos-->



        <!--Visitas-->
        <div class="d-none conteudo-abas" id="conteudo-3">
                <h1 style="color: orangered;" class="mb-5 text-center text-lg-start">Visitas</h1>

                <!--conteudo-->
                <div style="background-color: #f2f2f2;" class="rounded p-2 p-lg-4">
                      
                    <h5 class="border-bottom pb-4 mb-4 d-flex justify-content-between"><span>Visitas de hoje: <span style="color: orangered;">{{visitasDeHoje}}</span></span> <a class="btn btn-danger" href="/resetarVisitasDia">Resetar</a></h5>

                    <h5 class="d-flex justify-content-between"><span>Total de visitas no site: <span style="color: orangered;">{{totalVisitas}}</span></span> <a class="btn btn-danger" href="/resetarVisitasAll">Resetar</a></h5>

                </div>
                <!--conteudo-->
        </div>
        <!--Visitas-->
            
     </div>
     <!--abas content desk-->



</div>
<!--Conteudo principal desktop-->









<!--MODAIS-->
<div class="modal fade" id="modalAddProjeto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAddProjeto" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">


      <form action="/salvarProjeto" method="POST" enctype="multipart/form-data">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Adicionar Projeto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                <input type="text" class="form-control mb-2" required name="titulo" placeholder="Titulo">
                <input type="text" class="form-control mb-2" required name="descricao" placeholder="Descrição">
                <input type="text" class="form-control mb-2" required name="link" placeholder="Link">
                <input type="file" class="form-control mb-2" required name="file">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Adicionar +</button>
          </div>
      </form>


    </div>
  </div>
</div>
<!--MODAIS-->